.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.878906;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.928223;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.670898;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.091309;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.091309;font-style:normal;font-weight:normal;visibility:visible;}
.m8{transform:matrix(-0.211313,0.133592,-0.133592,-0.211313,0,0);-ms-transform:matrix(-0.211313,0.133592,-0.133592,-0.211313,0,0);-webkit-transform:matrix(-0.211313,0.133592,-0.133592,-0.211313,0,0);}
.m3{transform:matrix(-0.196376,-0.154714,0.154714,-0.196376,0,0);-ms-transform:matrix(-0.196376,-0.154714,0.154714,-0.196376,0,0);-webkit-transform:matrix(-0.196376,-0.154714,0.154714,-0.196376,0,0);}
.m7{transform:matrix(-0.014032,0.249606,-0.249606,-0.014032,0,0);-ms-transform:matrix(-0.014032,0.249606,-0.249606,-0.014032,0,0);-webkit-transform:matrix(-0.014032,0.249606,-0.249606,-0.014032,0,0);}
.m4{transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);}
.m6{transform:matrix(0.192236,0.159829,-0.159829,0.192236,0,0);-ms-transform:matrix(0.192236,0.159829,-0.159829,0.192236,0,0);-webkit-transform:matrix(0.192236,0.159829,-0.159829,0.192236,0,0);}
.m5{transform:matrix(0.207784,-0.139017,0.139017,0.207784,0,0);-ms-transform:matrix(0.207784,-0.139017,0.139017,0.207784,0,0);-webkit-transform:matrix(0.207784,-0.139017,0.139017,0.207784,0,0);}
.m1{transform:matrix(0.231511,-0.094354,0.094354,0.231511,0,0);-ms-transform:matrix(0.231511,-0.094354,0.094354,0.231511,0,0);-webkit-transform:matrix(0.231511,-0.094354,0.094354,0.231511,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc5{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.sc4{text-shadow:-0.015em 0 rgb(68,114,196),0 0.015em rgb(68,114,196),0.015em 0 rgb(68,114,196),0 -0.015em  rgb(68,114,196);}
.sc1{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
.sc0{text-shadow:-0.015em 0 rgb(112,48,160),0 0.015em rgb(112,48,160),0.015em 0 rgb(112,48,160),0 -0.015em  rgb(112,48,160);}
.sc2{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc3{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc5{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.sc4{-webkit-text-stroke:0.015em rgb(68,114,196);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(112,48,160);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc3{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:18.302000px;}
._0{width:101.313499px;}
._3{width:129.887527px;}
._2{width:148.213616px;}
.fc9{color:rgb(255,255,255);}
.fc8{color:rgb(68,114,196);}
.fc7{color:rgb(46,117,182);}
.fc6{color:rgb(0,32,96);}
.fc5{color:rgb(0,0,0);}
.fc4{color:rgb(0,176,240);}
.fc1{color:rgb(255,0,0);}
.fc2{color:rgb(255,255,0);}
.fc0{color:rgb(112,48,160);}
.fc3{color:rgb(0,176,80);}
.fsb{font-size:64.000000px;}
.fs6{font-size:72.000000px;}
.fs5{font-size:80.000000px;}
.fs7{font-size:84.000000px;}
.fs8{font-size:86.000000px;}
.fs4{font-size:96.000000px;}
.fsc{font-size:111.999999px;}
.fs9{font-size:112.000000px;}
.fsd{font-size:112.000002px;}
.fs3{font-size:144.000000px;}
.fsa{font-size:160.000000px;}
.fsf{font-size:192.000000px;}
.fs1{font-size:215.999996px;}
.fs0{font-size:216.000000px;}
.fse{font-size:352.000000px;}
.fs2{font-size:552.000000px;}
.y0{bottom:0.000000px;}
.y2b{bottom:25.877028px;}
.y2a{bottom:29.462629px;}
.y63{bottom:31.028214px;}
.y36{bottom:32.142607px;}
.y37{bottom:34.175938px;}
.y42{bottom:38.412041px;}
.y7{bottom:40.925514px;}
.y62{bottom:41.233231px;}
.y6{bottom:69.725513px;}
.y61{bottom:110.356335px;}
.y46{bottom:161.338691px;}
.y5{bottom:161.591179px;}
.y47{bottom:173.238409px;}
.y3a{bottom:174.234230px;}
.y3b{bottom:186.133917px;}
.y45{bottom:236.754639px;}
.y20{bottom:239.785690px;}
.y29{bottom:249.506880px;}
.y39{bottom:249.650146px;}
.y3{bottom:253.107269px;}
.y28{bottom:253.305525px;}
.y48{bottom:255.944219px;}
.y27{bottom:257.440016px;}
.y1f{bottom:264.985687px;}
.y3c{bottom:268.839727px;}
.y4{bottom:271.779083px;}
.ye{bottom:273.222847px;}
.y34{bottom:275.942518px;}
.y35{bottom:276.553541px;}
.y25{bottom:278.583572px;}
.y32{bottom:287.497841px;}
.y1e{bottom:290.185684px;}
.y14{bottom:291.783585px;}
.y59{bottom:295.713646px;}
.yd{bottom:297.222847px;}
.y5b{bottom:301.114548px;}
.y24{bottom:302.583572px;}
.y5c{bottom:303.114731px;}
.y55{bottom:303.481041px;}
.y5f{bottom:303.559921px;}
.y60{bottom:303.560013px;}
.y5a{bottom:304.231644px;}
.y5e{bottom:306.677078px;}
.y5d{bottom:307.077034px;}
.y57{bottom:308.888168px;}
.y58{bottom:308.994888px;}
.y53{bottom:310.855118px;}
.y4e{bottom:310.899521px;}
.y31{bottom:311.497841px;}
.y4f{bottom:311.734818px;}
.y56{bottom:313.050613px;}
.y4d{bottom:313.181412px;}
.y54{bottom:313.651749px;}
.y1d{bottom:315.385681px;}
.y13{bottom:315.783577px;}
.y51{bottom:316.211807px;}
.y52{bottom:316.211899px;}
.y44{bottom:319.642302px;}
.y50{bottom:320.976517px;}
.yc{bottom:321.222847px;}
.y4c{bottom:323.635292px;}
.y40{bottom:325.983696px;}
.y23{bottom:326.583572px;}
.y41{bottom:328.303871px;}
.y49{bottom:330.943065px;}
.y19{bottom:331.392677px;}
.y38{bottom:332.537504px;}
.y30{bottom:335.497833px;}
.y12{bottom:339.783577px;}
.y1c{bottom:340.585678px;}
.y3d{bottom:343.838589px;}
.yb{bottom:345.222847px;}
.y2{bottom:349.556617px;}
.y22{bottom:350.583572px;}
.y18{bottom:355.392677px;}
.y2f{bottom:359.497833px;}
.y11{bottom:363.783577px;}
.y1b{bottom:365.785675px;}
.ya{bottom:369.222847px;}
.y21{bottom:374.583574px;}
.y17{bottom:379.392677px;}
.y2e{bottom:383.497833px;}
.y10{bottom:387.783577px;}
.y1a{bottom:390.985676px;}
.y9{bottom:393.222847px;}
.y16{bottom:403.392677px;}
.y2d{bottom:407.497833px;}
.yf{bottom:411.783577px;}
.y8{bottom:417.222847px;}
.y15{bottom:427.392677px;}
.y2c{bottom:431.497835px;}
.y3e{bottom:431.583694px;}
.y3f{bottom:433.903870px;}
.y4a{bottom:450.542229px;}
.y26{bottom:453.672115px;}
.y4b{bottom:456.710461px;}
.y1{bottom:459.924782px;}
.y43{bottom:464.545532px;}
.y33{bottom:466.957890px;}
.hd{height:51.187500px;}
.h6{height:54.687500px;}
.h11{height:57.585938px;}
.hc{height:63.984375px;}
.h5{height:65.625000px;}
.h7{height:67.183594px;}
.h8{height:68.783203px;}
.he{height:89.578124px;}
.ha{height:89.578125px;}
.hf{height:89.578127px;}
.h4{height:98.718750px;}
.hb{height:127.968750px;}
.h12{height:131.250000px;}
.h2{height:148.078122px;}
.h1{height:148.078125px;}
.h13{height:153.562500px;}
.h9{height:172.757812px;}
.h10{height:241.312500px;}
.h3{height:440.144531px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x1f{left:50.666199px;}
.x2a{left:58.182312px;}
.x3b{left:61.626694px;}
.x3a{left:63.946837px;}
.x44{left:65.767082px;}
.x29{left:69.464966px;}
.x1e{left:83.902222px;}
.x17{left:130.827492px;}
.x18{left:139.907570px;}
.x16{left:142.194679px;}
.x15{left:154.347023px;}
.x2c{left:157.723862px;}
.x14{left:160.126312px;}
.x12{left:180.518906px;}
.x1c{left:182.134460px;}
.x26{left:184.788361px;}
.x2f{left:188.571564px;}
.x24{left:190.475861px;}
.x32{left:192.238556px;}
.x11{left:197.379257px;}
.x23{left:199.720978px;}
.x33{left:200.897736px;}
.x30{left:202.111603px;}
.xf{left:204.299194px;}
.x10{left:205.372421px;}
.x22{left:208.809143px;}
.x1b{left:210.234070px;}
.x25{left:213.693634px;}
.x1{left:217.125031px;}
.x27{left:220.454361px;}
.x1a{left:224.165710px;}
.x13{left:265.802109px;}
.x1d{left:298.460632px;}
.x3{left:312.622585px;}
.x5{left:316.442703px;}
.x20{left:350.432152px;}
.x7{left:354.985382px;}
.x2d{left:358.793808px;}
.x55{left:361.500374px;}
.x3c{left:363.856812px;}
.x42{left:365.089877px;}
.x31{left:371.353775px;}
.x2{left:390.600911px;}
.x41{left:400.855888px;}
.x28{left:411.089111px;}
.x43{left:417.125388px;}
.x56{left:425.055298px;}
.x4{left:440.281570px;}
.x57{left:463.235718px;}
.x6{left:480.891617px;}
.x51{left:489.396942px;}
.x40{left:491.665827px;}
.xd{left:496.152893px;}
.x9{left:498.009354px;}
.x4e{left:499.519928px;}
.x19{left:501.428650px;}
.x4b{left:505.291779px;}
.x3e{left:507.094518px;}
.xb{left:515.569885px;}
.x38{left:533.806399px;}
.x45{left:537.846375px;}
.x8{left:541.169495px;}
.x3f{left:549.672991px;}
.xc{left:557.096245px;}
.x53{left:562.883850px;}
.x37{left:569.572349px;}
.xa{left:580.116753px;}
.xe{left:584.679253px;}
.x39{left:585.841879px;}
.x3d{left:596.692627px;}
.x49{left:599.439697px;}
.x2e{left:610.526062px;}
.x21{left:612.216713px;}
.x36{left:660.382349px;}
.x2b{left:668.805229px;}
.x54{left:671.549377px;}
.x34{left:675.811009px;}
.x4f{left:685.013489px;}
.x4d{left:698.868896px;}
.x4a{left:700.582458px;}
.x46{left:712.940552px;}
.x35{left:718.389299px;}
.x52{left:785.602905px;}
.x50{left:792.413086px;}
.x4c{left:807.715393px;}
.x48{left:811.965576px;}
.x47{left:817.980591px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:24.402667pt;}
._0{width:135.084665pt;}
._3{width:173.183369pt;}
._2{width:197.618154pt;}
.fsb{font-size:85.333333pt;}
.fs6{font-size:96.000000pt;}
.fs5{font-size:106.666667pt;}
.fs7{font-size:112.000000pt;}
.fs8{font-size:114.666667pt;}
.fs4{font-size:128.000000pt;}
.fsc{font-size:149.333331pt;}
.fs9{font-size:149.333333pt;}
.fsd{font-size:149.333337pt;}
.fs3{font-size:192.000000pt;}
.fsa{font-size:213.333333pt;}
.fsf{font-size:256.000000pt;}
.fs1{font-size:287.999994pt;}
.fs0{font-size:288.000000pt;}
.fse{font-size:469.333333pt;}
.fs2{font-size:736.000000pt;}
.y0{bottom:0.000000pt;}
.y2b{bottom:34.502703pt;}
.y2a{bottom:39.283506pt;}
.y63{bottom:41.370951pt;}
.y36{bottom:42.856809pt;}
.y37{bottom:45.567917pt;}
.y42{bottom:51.216054pt;}
.y7{bottom:54.567352pt;}
.y62{bottom:54.977641pt;}
.y6{bottom:92.967351pt;}
.y61{bottom:147.141780pt;}
.y46{bottom:215.118255pt;}
.y5{bottom:215.454905pt;}
.y47{bottom:230.984546pt;}
.y3a{bottom:232.312306pt;}
.y3b{bottom:248.178556pt;}
.y45{bottom:315.672852pt;}
.y20{bottom:319.714254pt;}
.y29{bottom:332.675840pt;}
.y39{bottom:332.866862pt;}
.y3{bottom:337.476359pt;}
.y28{bottom:337.740700pt;}
.y48{bottom:341.258959pt;}
.y27{bottom:343.253354pt;}
.y1f{bottom:353.314250pt;}
.y3c{bottom:358.452970pt;}
.y4{bottom:362.372111pt;}
.ye{bottom:364.297129pt;}
.y34{bottom:367.923358pt;}
.y35{bottom:368.738055pt;}
.y25{bottom:371.444763pt;}
.y32{bottom:383.330455pt;}
.y1e{bottom:386.914246pt;}
.y14{bottom:389.044779pt;}
.y59{bottom:394.284861pt;}
.yd{bottom:396.297129pt;}
.y5b{bottom:401.486064pt;}
.y24{bottom:403.444763pt;}
.y5c{bottom:404.152974pt;}
.y55{bottom:404.641388pt;}
.y5f{bottom:404.746562pt;}
.y60{bottom:404.746684pt;}
.y5a{bottom:405.642192pt;}
.y5e{bottom:408.902771pt;}
.y5d{bottom:409.436045pt;}
.y57{bottom:411.850891pt;}
.y58{bottom:411.993184pt;}
.y53{bottom:414.473490pt;}
.y4e{bottom:414.532694pt;}
.y31{bottom:415.330455pt;}
.y4f{bottom:415.646423pt;}
.y56{bottom:417.400818pt;}
.y4d{bottom:417.575216pt;}
.y54{bottom:418.202332pt;}
.y1d{bottom:420.514242pt;}
.y13{bottom:421.044769pt;}
.y51{bottom:421.615743pt;}
.y52{bottom:421.615865pt;}
.y44{bottom:426.189736pt;}
.y50{bottom:427.968689pt;}
.yc{bottom:428.297129pt;}
.y4c{bottom:431.513723pt;}
.y40{bottom:434.644928pt;}
.y23{bottom:435.444763pt;}
.y41{bottom:437.738495pt;}
.y49{bottom:441.257421pt;}
.y19{bottom:441.856903pt;}
.y38{bottom:443.383339pt;}
.y30{bottom:447.330444pt;}
.y12{bottom:453.044769pt;}
.y1c{bottom:454.114237pt;}
.y3d{bottom:458.451451pt;}
.yb{bottom:460.297129pt;}
.y2{bottom:466.075490pt;}
.y22{bottom:467.444763pt;}
.y18{bottom:473.856903pt;}
.y2f{bottom:479.330444pt;}
.y11{bottom:485.044769pt;}
.y1b{bottom:487.714233pt;}
.ya{bottom:492.297129pt;}
.y21{bottom:499.444766pt;}
.y17{bottom:505.856903pt;}
.y2e{bottom:511.330444pt;}
.y10{bottom:517.044769pt;}
.y1a{bottom:521.314234pt;}
.y9{bottom:524.297129pt;}
.y16{bottom:537.856903pt;}
.y2d{bottom:543.330444pt;}
.yf{bottom:549.044769pt;}
.y8{bottom:556.297129pt;}
.y15{bottom:569.856903pt;}
.y2c{bottom:575.330447pt;}
.y3e{bottom:575.444926pt;}
.y3f{bottom:578.538493pt;}
.y4a{bottom:600.722972pt;}
.y26{bottom:604.896154pt;}
.y4b{bottom:608.947281pt;}
.y1{bottom:613.233042pt;}
.y43{bottom:619.394043pt;}
.y33{bottom:622.610519pt;}
.hd{height:68.250000pt;}
.h6{height:72.916667pt;}
.h11{height:76.781250pt;}
.hc{height:85.312500pt;}
.h5{height:87.500000pt;}
.h7{height:89.578125pt;}
.h8{height:91.710938pt;}
.he{height:119.437498pt;}
.ha{height:119.437500pt;}
.hf{height:119.437503pt;}
.h4{height:131.625000pt;}
.hb{height:170.625000pt;}
.h12{height:175.000000pt;}
.h2{height:197.437496pt;}
.h1{height:197.437500pt;}
.h13{height:204.750000pt;}
.h9{height:230.343750pt;}
.h10{height:321.750000pt;}
.h3{height:586.859375pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x1f{left:67.554932pt;}
.x2a{left:77.576416pt;}
.x3b{left:82.168925pt;}
.x3a{left:85.262449pt;}
.x44{left:87.689443pt;}
.x29{left:92.619954pt;}
.x1e{left:111.869629pt;}
.x17{left:174.436656pt;}
.x18{left:186.543427pt;}
.x16{left:189.592906pt;}
.x15{left:205.796031pt;}
.x2c{left:210.298482pt;}
.x14{left:213.501750pt;}
.x12{left:240.691874pt;}
.x1c{left:242.845947pt;}
.x26{left:246.384481pt;}
.x2f{left:251.428752pt;}
.x24{left:253.967814pt;}
.x32{left:256.318075pt;}
.x11{left:263.172343pt;}
.x23{left:266.294637pt;}
.x33{left:267.863647pt;}
.x30{left:269.482137pt;}
.xf{left:272.398926pt;}
.x10{left:273.829895pt;}
.x22{left:278.412191pt;}
.x1b{left:280.312093pt;}
.x25{left:284.924845pt;}
.x1{left:289.500041pt;}
.x27{left:293.939148pt;}
.x1a{left:298.887614pt;}
.x13{left:354.402812pt;}
.x1d{left:397.947510pt;}
.x3{left:416.830114pt;}
.x5{left:421.923604pt;}
.x20{left:467.242869pt;}
.x7{left:473.313843pt;}
.x2d{left:478.391744pt;}
.x55{left:482.000498pt;}
.x3c{left:485.142415pt;}
.x42{left:486.786502pt;}
.x31{left:495.138367pt;}
.x2{left:520.801214pt;}
.x41{left:534.474517pt;}
.x28{left:548.118815pt;}
.x43{left:556.167184pt;}
.x56{left:566.740397pt;}
.x4{left:587.042094pt;}
.x57{left:617.647624pt;}
.x6{left:641.188822pt;}
.x51{left:652.529256pt;}
.x40{left:655.554436pt;}
.xd{left:661.537191pt;}
.x9{left:664.012472pt;}
.x4e{left:666.026571pt;}
.x19{left:668.571533pt;}
.x4b{left:673.722371pt;}
.x3e{left:676.126023pt;}
.xb{left:687.426514pt;}
.x38{left:711.741865pt;}
.x45{left:717.128499pt;}
.x8{left:721.559326pt;}
.x3f{left:732.897321pt;}
.xc{left:742.794993pt;}
.x53{left:750.511800pt;}
.x37{left:759.429798pt;}
.xa{left:773.489003pt;}
.xe{left:779.572337pt;}
.x39{left:781.122506pt;}
.x3d{left:795.590169pt;}
.x49{left:799.252930pt;}
.x2e{left:814.034749pt;}
.x21{left:816.288951pt;}
.x36{left:880.509799pt;}
.x2b{left:891.740306pt;}
.x54{left:895.399170pt;}
.x34{left:901.081346pt;}
.x4f{left:913.351318pt;}
.x4d{left:931.825195pt;}
.x4a{left:934.109945pt;}
.x46{left:950.587402pt;}
.x35{left:957.852399pt;}
.x52{left:1047.470540pt;}
.x50{left:1056.550781pt;}
.x4c{left:1076.953857pt;}
.x48{left:1082.620768pt;}
.x47{left:1090.640788pt;}
}
